<div>
        <h1>Tablero</h1>
    </div>
        <div class="col-md-15">
            <h2>stop doing</h2>
            
        </div>
        <div class="col-md-15">
            <h2>start doing</h2>
            
        </div>
        <div class="col-md-15">
            <h2>keep the same</h2>
            
        </div>
        <div class="col-md-15">
            <h2>do more of</h2>
            
        </div>
        <div class="col-md-15">
            <h2>do less of</h2>
            
        </div>

