<div class="container background">
        <div>
            <h1>Tablero</h1>
        </div>
        <div class="col-md-15 margins">
            <h4>stop doing</h4>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>
            <hr>
            <div class="board">
                <div class="postit">
                        <p>Título</p>
                        <p>Autor</p>
                </div> 
            </div>
        </div>
        <div class="col-md-15 margins">
            <h4>start doing</h4>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>
            <hr>
            <div class="board">
                <div class="postit">
                        <p>Título</p>
                        <p>Autor</p>
                </div> 
        </div>
        </div>
        <div class="col-md-15 margins">
            <h4>keep the same</h4>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>
            <hr>
            <div class="board">
                <div class="postit">
                    <p>Título</p>
                    <p>Autor</p>
                </div> 
        </div>
        </div>
        <div class="col-md-15 margins">
            <h4>do more of</h4>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>
            <hr>
            <div class="board">
                <div class="postit">
                        <p>Título</p>
                        <p>Autor</p>
                </div> 
            </div>
        </div>
        <div class="col-md-15 margins">
            <h4>do less of</h4>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>
            <hr>
            <div class="board">
                <div class="postit">
                        <p>Título</p>
                        <p>Autor</p>
                </div> 
            </div>
        </div>
    </div>
