<div class="container">
        <div>
            <h1>Tablero</h1>
        </div>
        <br>
        <div class="col-md-15 margins">
            <h4>stop doing</h4>
            <hr>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>
            <div>postit</div> 
        </div>
        <div class="col-md-15 margins">
            <h4>start doing</h4>
            <hr>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>   
        </div>
        <div class="col-md-15 margins">
            <h4>keep the same</h4>
            <hr>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>
        </div>
        <div class="col-md-15 margins">
            <h4>do more of</h4>
            <hr>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>      
            </div>
        <div class="col-md-15 margins">
            <h4>do less of</h4>
            <hr>
            <button type="button" class="btn btn-secondary btn-sm">Agregar postit</button>
        </div>
    </div>