<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>

<h1>Admin <br>
  Detail Comment</h1>


<form validate action = "/newpost" method="POST">
 <div class="form-group">
   <label for="exampleFormControlTextarea1">Título</label>
   <p class="form-control" id="FormControlSelect3" rows="3">El curso me agrado, aprendi bastante ahora quiero 
     tomar otros cursos para especializarme en ciertos temas pero creo que el nivel fue el mejor, soy un 
     Ironhacker!!!!! yeahhhhh!!</p>
 </div>
</form>
    
     <script src='/javascripts/script.js'></script>
</body>
</html>